@font-face {
  font-family: 'DmSans';
  src: url('dmsans-bold.woff2') format('woff2'), url('dmsans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DmSans';
  src: url('dmsans-medium.woff2') format('woff2'),
    url('dmsans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DmSans';
  src: url('dmsans-regular.woff2') format('woff2'),
    url('dmsans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
